APScheduler
git+https://github.com/maraid/fbchat
git+https://github.com/sigma67/ytmusicapi.git
pymongo
python-dateutil
python-dotenv
git+git://github.com/maraid/num2words@master#egg=num2words
unidecode
fuzzywuzzy
# tensorflow
spotipy
imagehash

Flask
pytz
Pillow
requests
webpreview
